/* Общие стили для всей страницы */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*display: flex;*/
    background-color: #f8f9fa;
}

/* Контейнер для всей страницы */
.root-container {
    vertical-align: middle;
    min-height: 1500px;
    padding: 20px;
}

.top-container {
    width: 100%;
    height: 600px;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
}

.start-stop-toggle-container {
    align-content: center;
    text-align: right;
    padding: 50px;
}

.links-container {
    background-color: red;
    display: grid;
    grid-template-columns: auto auto;
}

.center-h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    align-items: flex-end;
    text-align: center;
    font-family: "Roboto Light", sans-serif;
    font-size: 28px;
}

.center-button {
    height: 40px;
    width: 100%;
    margin-top: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.center-panel {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    border: 1px solid lightgray;
    display: grid;
    padding: 16px;
    margin: 32px;

    /*grid-template-rows: 100% 100% 100% 100%;*/
    box-sizing: border-box;
    /*grid-template-columns: auto auto;*/
}

/* Вводимые поля */
.input-field {
    padding: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Кнопки */
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.red {
    background-color: #f44336;
    color: white;
}

.green {
    background-color: #4caf50;
    color: white;
}

.yellow {
    background-color: #ffeb3b;
    color: black;
}

.orange {
    background-color: #ff9800;
    color: white;
}

.purple {
    background-color: #9c27b0;
    color: white;
}

.teal {
    background-color: #009688;
    color: white;
}

.brown {
    background-color: #795548;
    color: white;
}

.blue {
    background-color: #2196f3;
    color: white;
}

.gray {
    background-color: #9e9e9e;
    color: white;
}

button:hover {
    opacity: 0.9;
}



/* Панель с таблицей */
.bottom-panel {
    width: 100%;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

.status-running {
    color: red;
}

.status-success {
    color: green;
}

